body, html {
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}

.slider {
	height: auto;
	margin: 0 auto;
	width: 100%;
}

/*2,4,5*/
.slide1 {
	position: absolute;
	bottom: 0.9px;
}

.slide4 {
	position: absolute;
	bottom: 0.1px;
}

.slide5 {
	margin-bottom: 300px;
}

/*3, 1, 5, 6, 7, 8*/

/*.slider1 {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-image: url(img/img8.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;

}

.slider2 {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-image: url(img/img3.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.slider3 {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-image: url(img/img7.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;

}

.slider4 {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-image: url(img/img6.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;	
}

.slider5 {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-image: url(img/img5.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}*/




